p{
    color: black;
}
p:hover{
    color: red;
}
.background{
    background: red;
    width: 50px;
    height: 50px;
    /* 上方是設定寬和高，width是寬，height是高 */
}
.hover:hover{
    color: red;
    background: yellow;
}